WebContent/resources/js/xsd/ContextualContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://storm.lia.ufc.br" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://storm.lia.ufc.br">


    <element name="abstract_component"
    	type="tns:abstract_component_type">
    </element>
    <complexType name="abstract_component_type">
    	<sequence>
    		<element name="supertype" type="tns:abstract_component_type"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="context_parameter"
    			type="tns:context_parameter_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="inner_components"
    			type="tns:abstract_component_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="abstract_unit" type="tns:abstract_unit_type"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="quality_parameters"
    			type="tns:calculated_parameter_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="cost_parameters"
    			type="tns:calculated_parameter_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
            <element name="ranking_parameters" type="tns:calculated_parameter_type" maxOccurs="unbounded" minOccurs="0"></element>
            <element name="slices" type="tns:slice_type"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    	<attribute name="kind" type="tns:kind_type"></attribute>
    	<attribute name="id_ac" type="int"></attribute>
    	<attribute name="path" type="string"></attribute>
    </complexType>

    <simpleType name="kind_type">
    	<restriction base="int"></restriction>
    </simpleType>

    <complexType name="context_parameter_type">
    	<sequence>
    		<element name="bound" type="tns:context_contract"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="bound_value" type="string"></element>
    		<choice>
    			<element name="context_variable_required" type="string"
    				maxOccurs="1" minOccurs="0">
    			</element>
    		</choice>
    		<element name="context_argument"
    			type="tns:context_argument_type" maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="context_variable_provided" type="string"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="context_variable_required_id" type="int" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    	<attribute name="cp_id" type="int"></attribute>
    	<attribute name="kind" type="int"></attribute>
    </complexType>

    <complexType name="context_argument_type">
    	<sequence>
    		<choice>
    			<element name="shared_variable_cp_id" type="int" maxOccurs="1"
    				minOccurs="0">
    			</element>
    			<element name="context_contract"
    				type="tns:context_contract">
    			</element>
    			<element name="value" type="tns:context_argument_value_type"></element>
    		</choice>
    	</sequence>
    	<attribute name="cc_id" type="int"></attribute>
    	<attribute name="cp_id" type="int"></attribute>
    	<attribute name="bound_cc_id" type="int"></attribute>
    	<attribute name="ca_id" type="int"></attribute>
    	<attribute name="kind" type="int"></attribute>
    </complexType>

    <complexType name="abstract_unit_type">
    	<attribute name="au_name" type="string"></attribute>
    	<attribute name="ac_id" type="int"></attribute>
    	<attribute name="au_id" type="int"></attribute>
    </complexType>




    <complexType name="context_contract">
    	<sequence>
    		<element name="context_arguments"
    			type="tns:context_argument_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="abstract_component"
    			type="tns:abstract_component_type" maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="platform" type="tns:platform_profile_type"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="quality_arguments"
    			type="tns:calculated_argument_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="ranking_arguments"
    			type="tns:calculated_argument_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="cost_arguments"
    			type="tns:calculated_argument_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<choice>
    			<element name="inner_components_resolved"
    				type="tns:candidate_list_type" maxOccurs="unbounded"
    				minOccurs="0">
    			</element>
    			<element name="inner_components"
    				type="tns:context_contract" maxOccurs="unbounded"
    				minOccurs="0">
    			</element>
    		</choice>
    		<element name="concrete_units" type="tns:concrete_unit_type"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="cc_name" type="string"></attribute>
    	<attribute name="cc_id" type="int"></attribute>
    	<attribute name="owner_id" type="int"></attribute>
    </complexType>



    <complexType name="concrete_component_type">
    	<sequence>
    		<element name="abstract_component"
    			type="tns:abstract_component_type" maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="context_contract" type="tns:context_contract" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <element name="context_contract" type="tns:context_contract"></element>

    <complexType name="platform_profile_type">
    	<sequence>
    		<element name="platform_contract"
    			type="tns:context_contract">
    		</element>
    	</sequence>
    	<attribute name="network_ip_address" type="string"></attribute>
    	<attribute name="port" type="string"></attribute>
    </complexType>

    <element name="candidate_list" type="tns:candidate_list_type"></element>
    
    <complexType name="candidate_list_type">
    	<sequence>
    		<element name="candidate" type="tns:context_contract"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="user_id" type="int"></attribute>
    </complexType>




 <complexType name="calculated_function_term_type">
    	<attribute name="order" type="int"></attribute>
    	<attribute name="cp_id" type="int"></attribute>
    </complexType>

<complexType name="calculated_function_type">
    	<sequence>
    		<element name="function_parameters"
    			type="tns:calculated_function_term_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="function_arguments"
    			type="tns:context_argument_type" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="function_id" type="int"></attribute>
    	<attribute name="function_value" type="string"></attribute>
    	<attribute name="cc_id" type="int"></attribute>
    	<attribute name="cp_id" type="int"></attribute>
    </complexType>

	<complexType name="calculated_parameter_type">
    	<sequence>
    		<element name="calculated_argument"
    			type="tns:calculated_argument_type" maxOccurs="1"
    			minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    	<attribute name="calc_id" type="int"></attribute>
    	<attribute name="kind_id" type="int"></attribute>
    </complexType>

	<complexType name="calculated_argument_type">
		<sequence>
			<element name="function" type="tns:calculated_function_type"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
		<attribute name="calc_id" type="int"></attribute>
		<attribute name="value" type="double"></attribute>
		<attribute name="kind_id" type="int"></attribute>
	</complexType>
















	<complexType name="slice_type">
		<sequence>
			<element name="inner_unit_name" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="inner_component_name" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
		<attribute name="slice_id" type="int"></attribute>
		<attribute name="inner_component_id" type="int"></attribute>
		<attribute name="inner_unit_id" type="int"></attribute>
	</complexType>

	<complexType name="concrete_unit_type">
    	<sequence></sequence>
    	<attribute name="u_id" type="int"></attribute>
    	<attribute name="au_id" type="int"></attribute>
    	<attribute name="cc_id" type="int"></attribute>
    </complexType>

    <element name="concrete_unit" type="tns:concrete_unit_type"></element>

    <complexType name="context_argument_value_type">
    	<attribute name="value" type="string"></attribute>
    	<attribute name="data_type" type="string"></attribute>
    </complexType>

    <complexType name="unit_file_type">
    	<attribute name="filename" type="string"></attribute>
    	<attribute name="extension" type="string"></attribute>
    	<attribute name="build_cfg" type="string"></attribute>
    	<attribute name="version" type="int"></attribute>
    	<attribute name="filetype" type="int"></attribute>
    	<attribute name="uid" type="int"></attribute>
    	<attribute name="path" type="string"></attribute>
    	<attribute name="file_id" type="int"></attribute>
    </complexType>

    <element name="unit_file" type="tns:unit_file_type"></element>

    <element name="contract_list" type="tns:contractList"></element>
    
    <complexType name="contractList">
    	<sequence>
    		<element name="contract" type="tns:context_contract" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>


    <complexType name="computational_system_type">
    	<sequence>
    		<element name="context_contract"
    			type="tns:context_contract">
    		</element>
    		<element name="port" type="string" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="files" type="tns:unit_file_type"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="session" type="int"></attribute>
    	<attribute name="network_address" type="string"></attribute>
    </complexType>

    <element name="computational_system"
    	type="tns:computational_system_type">
    </element>
</schema>